<div class="ws-list-head clearfix blackword" href="<%- href %>" data-role-transition>
    <div class="ws-list-title left"><%- title %></div>
    <div class="right"><i class="am-icon-chevron-right greyword"></i></div>
</div>