  <div class="index-page" data-role="page" id="all-project" style="z-index:1000">
      <!--通用头部-->
      <header data-am-widget="header" class="am-header am-header-default am-header-black">          
          
          <div class="am-header-left am-header-nav">
              <a href="#all-project" data-role-back>
                    <i class="am-header-icon am-icon-angle-left am-icon-md"></i>
              </a>
          </div>

          <h1 class="am-header-title">
              <a href="#title-link" class="" data-project-title>
                所有项目
              </a>
          </h1>
      </header>
      <!--所有项目-->
      <div class="project-list-wrapper">
        <div class="project-list" id="all-project-list">
      </div>
      </div>
  </div>