<!--个人资料-->
<div class="my-profile">
<div class="ws-list">
  
<%- partial('./model/my-profile-item',{title:'我的资料',href:'#my-profile-page'}) %>

<a href="/logout" class="logout-btn">
    退出登录
</a>

</div>
</div>      