  <div class="index-page my-profile" data-role="page" id="my-profile-page" >
              <!--选人界面的个人信息-->
    <a class="am-icon-chevron-left am-icon greyword" style="position:absolute;left:0;top:0;z-index:1;" href="#my-profile-page" data-role-back></a>
        <div id="my-profile">
                <div class="person-profile clearfix">
                  <!--确定按钮-->
                  <div class="profile-sure">
                       <i class="am-icon-check-circle-o whiteword"></i>
                  </div>  

                  <div class="profile-head">
                    <div class="profile-score" data-profile-score>
                      个人评分
                    </div>
                    <div class="profile-img">
                      <img src="./img/profile-head.png">
                    </div>
                    <div class="profile-name" data-profile-name>姓名</div>
                  </div>
                  
                  <div class="profile-info">
                    <!--技能-->
                    <div class="profile-info-item clearfix">
                      <div class="profile" data-profile-skill>技能</div>
                      <div class="profile-info-b left">
                        <div class="profile-info-n">中译英：</div>
                      </div>
                      
                      <div class="profile-info-a right">

                          <div class="profile-info-c">
                              <i class="am-header-icon am-icon-star  blueword"></i>
                              <i class="am-header-icon am-icon-star  blueword"></i>
                              <i class="am-header-icon am-icon-star  blueword"></i>
                              <i class="am-header-icon am-icon-star  blueword"></i>
                              <i class="am-header-icon am-icon-star-o  "></i>
                          </div>

                      </div>
                    </div>


                    <div class="profile-info-item clearfix">
                      <div class="profile">素质</div>
                      <div class="profile-info-b left">
                        <div class="profile-info-n">稳定性：</div>              
                      </div>
                      <div class="profile-info-a right">
                          <div class="profile-info-c">
                              <i class="am-header-icon am-icon-star  blueword"></i>
                              <i class="am-header-icon am-icon-star  blueword"></i>
                              <i class="am-header-icon am-icon-star  blueword"></i>
                              <i class="am-header-icon am-icon-star  blueword"></i>
                              <i class="am-header-icon am-icon-star-o  "></i>
                          </div>
                          <div class="profile-info-c">
                              1个项目
                          </div>
                          <div class="profile-info-c">
                             3
                          </div>
                      </div>
                    </div>    
                    <!--项目-->
                    <div class="profile-info-item clearfix">
                      <div class="profile-title">项目</div>
                        
                        <div class="profile-p clearfix">
                          <div class="profile-p-img left">
                            <img src="./img/project_1.gif">
                          </div>
                          
                          <div class="profile-p-info right">
                            <div class="profile-p-info-b greyword left">
                              <div class="profile-p-item">项目名称：</div>
                              <div class="profile-p-item">项目所需技能：</div>
                              <div class="profile-p-item">项目经理评价：</div>
                            </div>
                            <div class="profile-p-info-a right">
                              <div class="profile-p-item">南非草地狩猎</div>
                              <div class="profile-p-item">翻译-文档-文案</div>
                              <div class="profile-p-item">
                                <i class="am-header-icon am-icon-star  blueword"></i>
                                <i class="am-header-icon am-icon-star  blueword"></i>
                                <i class="am-header-icon am-icon-star  blueword"></i>
                                <i class="am-header-icon am-icon-star  blueword"></i>
                                <i class="am-header-icon am-icon-star-o  "></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                    </div>
                  </div>
                </div>
    </div>
  </div>