  <div class="index-page" data-role="page" id="project-entrust" >
      <!--通用头部-->
      <header data-am-widget="header" class="am-header am-header-default am-header-black">          
          
          <div class="am-header-left am-header-nav">
              <a href="#project-entrust" data-role-back>
                    <i class="am-header-icon am-icon-angle-left am-icon-md"></i>
              </a>
          </div>

          <h1 class="am-header-title">
              <a href="#title-link" class="" data-project-title>
                项目标题
              </a>
          </h1>
      </header>

      <div class="project">
          <!--任务详情-->
          <div class="project-detail clearfix">
            <div class="project-img left">
              <img src="./img/project_1.gif" data-project-icon>
            </div>
            <div class="project-entrust right ">
              <div data-project-status>
              <a href="#project-pick" data-role-transition data-project-btn-entrust>委托</a>
              <a href="#" data-project-btn-apply>申请</a>
              </div>
            </div>
            <div class="project-info left">
              <div class="project-name" data-project-title >项目标题</div>
              <div class="project-work" data-project-work >职位</div>
              <div class="project-num" data-project-num >需求人数</div>
              <div class="project-bonus">项目奖金：<span class="blackword" data-project-award>项目奖金</span></div>
              <div class="project-deadline">交付日期：<span class="blackword" data-project-deadline>初始日期 </span></div>
            </div>
          </div>

          <div data-am-widget="tabs" class="am-tabs am-tabs-default" data-am-tabs-noswipe="1">
              <ul class="am-tabs-nav am-cf">
                  <li class="am-active"><a href="[data-tab-panel-0]">详情</a></li>
                  <li class=""><a href="[data-tab-panel-1]">评论</a></li>
              </ul>
              <div class="am-tabs-bd">
              
                  <div data-tab-panel-0 class="am-tab-panel am-active tab-project-detail">
                    <div class="partslider-entrust partslider project-detail-slider">
                        <ul class="partslider-inner" data-project-slider>
                          <li>
                            <img src="./img/项目详情-委托.gif">
                          </li>                    
                        </ul>
                    </div>
                  </div>

                  <div data-tab-panel-1 class="am-tab-panel ">
                    <ul class="am-comments-list" data-project-comment >
                      
                      <li>
                        <article class="am-comment"> <!-- 评论容器 -->
                          <a href="">
                            <img class="am-comment-avatar" alt=""/> <!-- 评论者头像 -->
                          </a>

                          <div class="am-comment-main"> <!-- 评论内容容器 -->
                            <header class="am-comment-hd">
                              <div class="am-comment-meta"> <!-- 评论元数据 -->
                                <a href="#link-to-user" class="am-comment-author">..</a>
                                评论于 <time datetime="">...</time>
                              </div>
                            </header>
                            <div class="am-comment-bd">...</div> <!-- 评论内容 -->
                          </div>
                        </article>                        
                      </li>

                    </ul>

                  </div>
              </div>
          </div>
          
      </div>
  </div>