
  <div class="index-page" id="project-pick" data-role="page" >
      <!--通用头部-->
      <header data-am-widget="header" class="am-header am-header-default am-header-black">          
          
          <div class="am-header-left am-header-nav">
              <a href="#project-pick" data-role-back>
                    <i class="am-header-icon am-icon-angle-left am-icon-md"></i>
              </a>
          </div>

          <h1 class="am-header-title">
              <a href="#title-link" class="" data-project-title>
                南非草地合同
              </a>
          </h1>

          <div class="am-header-right am-header-nav">
              <a href="#project-pick" data-project-check>
                   确定
              </a>
          </div>
          <span  href="#project-pick" data-role-back data-ppp-back-btn></span>
      </header>
      
      <!--选人界面-->
      <div class="choosePerson">
          <div class="partslider-pick partslider">
            <ul data-project-pick>
              <li>
              <!--选人界面的个人信息-->
                <div class="person-profile clearfix">
                  <!--确定按钮-->
                  <div class="profile-sure">
                       <i class="am-icon-check-circle-o whiteword"></i>
                  </div>  

                  <div class="profile-head">
                    <div class="profile-score" data-profile-sorce>
                      个人评分
                    </div>
                    <div class="profile-img">
                      <img src="./img/profile-head.png">
                    </div>
                    <div class="profile-name" data-profile-name>姓名</div>
                    <div class="profile-work" data-profile-work>工作</div>
                  </div>
                  
                  <div class="profile-info">
                    <!--技能-->
                    <div class="profile-info-item clearfix">
                      <div class="profile" data-profile-skill>技能</div>
                      <div class="profile-info-b left">
                        <div class="profile-info-n">中译英：</div>
                      </div>
                      
                      <div class="profile-info-a right">

                          <div class="profile-info-c">
                              <i class="am-header-icon am-icon-star  blueword"></i>
                              <i class="am-header-icon am-icon-star  blueword"></i>
                              <i class="am-header-icon am-icon-star  blueword"></i>
                              <i class="am-header-icon am-icon-star  blueword"></i>
                              <i class="am-header-icon am-icon-star-o  "></i>
                          </div>

                      </div>
                    </div>


                    <div class="profile-info-item clearfix">
                      <div class="profile">素质</div>
                      <div class="profile-info-b left">
                        <div class="profile-info-n">稳定性：</div>              
                      </div>
                      <div class="profile-info-a right">
                          <div class="profile-info-c">
                              <i class="am-header-icon am-icon-star  blueword"></i>
                              <i class="am-header-icon am-icon-star  blueword"></i>
                              <i class="am-header-icon am-icon-star  blueword"></i>
                              <i class="am-header-icon am-icon-star  blueword"></i>
                              <i class="am-header-icon am-icon-star-o  "></i>
                          </div>
                          <div class="profile-info-c">
                              1个项目
                          </div>
                          <div class="profile-info-c">
                             3
                          </div>
                      </div>
                    </div>    
                    <!--项目-->
                    <div class="profile-info-item clearfix">
                      <div class="profile-title">项目</div>
                        
                        <div class="profile-p clearfix">
                          <div class="profile-p-img left">
                            <img src="./img/project_1.gif">
                          </div>
                          
                          <div class="profile-p-info right">
                            <div class="profile-p-info-b greyword left">
                              <div class="profile-p-item">项目名称：</div>
                              <div class="profile-p-item">项目所需技能：</div>
                              <div class="profile-p-item">项目经理评价：</div>
                            </div>
                            <div class="profile-p-info-a right">
                              <div class="profile-p-item">南非草地狩猎</div>
                              <div class="profile-p-item">翻译-文档-文案</div>
                              <div class="profile-p-item">
                                <i class="am-header-icon am-icon-star  blueword"></i>
                                <i class="am-header-icon am-icon-star  blueword"></i>
                                <i class="am-header-icon am-icon-star  blueword"></i>
                                <i class="am-header-icon am-icon-star  blueword"></i>
                                <i class="am-header-icon am-icon-star-o  "></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                    </div>
                  </div>
                </div>

              </li>
              
            </ul>
          </div><!--slider结束-->
          <div class="choosePerson-word greyword">
            本项目共<span data-project-count>32</span>人申请
          </div>
      </div>  
  </div>