<div class="index-page" data-role="page" id="search-box">
      <header data-am-widget="header" class="am-header am-header-search am-header-white">          
          <div class="am-header-left am-header-nav">
                <a href="#search-box" data-role-back>
                <i class="am-header-icon am-icon-arrow-left"></i>
                </a>
          </div>

          <h1 class="am-header-title search-input-box">
              <input class="am-header-input" id="search-input" maxlength="30"></input>
          </h1>

          <div class="am-header-right am-header-nav">
              <a href="#search-box" data-role-transition class="search-btn">
                    <i class="am-header-icon am-icon-search"></i>
              </a>
          </div>
      </header>

      <div class="search-content">
        <!--项目检索-->
        <div class="search-source-list source-list" id="search-source-list">
          
        </div>
      </div>
</div>